<form [formGroup]="solutionForm">
  <div class="form-group row p-2">
    <label for="name" class="col-2 col-form-label">Name</label>
    <div class="col-10">
      <input formControlName="name" id="name" class="form-control"/>
      <div *ngIf="nameControl && nameControl.invalid && (nameControl.dirty || nameControl.touched)"
           class="invalid-feedback" style="display: block">
        Name is required.
      </div>
    </div>
  </div>
  <div class="form-group row p-2">
    <label for="task" class="col-2 col-form-label">Task</label>
    <div class="col-10">
      <select formControlName="task" id="task" class="form-control">
        <ng-container *ngFor="let task of tasks">
          <option [value]="task.id">{{task.name}}</option>
        </ng-container>
      </select>
      <div *ngIf="taskControl && taskControl.invalid && (taskControl.dirty || taskControl.touched)"
           class="invalid-feedback" style="display: block">
        Task is required.
      </div>
    </div>
  </div>
  <div class="form-group row p-2" *ngIf="taskControl?.value">
    <span class="col-2 col-form-label">Description</span>
    <div class="col-10">
      <p>{{selectedTask?.description}}</p>
    </div>
  </div>
  <div class="form-group row p-2">
    <label for="solution" class="col-2 col-form-label">Solution</label>
    <div class="col-10">
      <textarea formControlName="solution" id="solution" class="form-control"></textarea>
      <div *ngIf="solutionControl && solutionControl.invalid && (solutionControl.dirty || solutionControl.touched)"
           class="invalid-feedback" style="display: block">
        Solution is required.
      </div>
    </div>
  </div>
  <div class="form-group row p-2">
    <div class="offset-2">
      <button class="btn btn-primary" (click)="onFormSubmit()" [disabled]="!solutionForm.valid">Submit</button>
    </div>
  </div>
</form>
